################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/obj/Release/netcoreapp3.1/ConsoleApp1.vbprojAssemblyReference.cache
/obj/Release/netcoreapp3.1/ConsoleApp1.vbproj.FileListAbsolute.txt
/obj/Release/netcoreapp3.1/ConsoleApp1.vbproj.CoreCompileInputs.cache
/obj/Release/netcoreapp3.1/ConsoleApp1.pdb
/obj/Release/netcoreapp3.1/ConsoleApp1.genruntimeconfig.cache
/obj/Release/netcoreapp3.1/ConsoleApp1.exe
/obj/Release/netcoreapp3.1/ConsoleApp1.dll
/obj/Release/netcoreapp3.1/ConsoleApp1.assets.cache
/obj/Release/netcoreapp3.1/ConsoleApp1.AssemblyInfoInputs.cache
/obj/Release/netcoreapp3.1/ConsoleApp1.AssemblyInfo.vb
/obj/Release/netcoreapp3.1/apphost.exe
/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.vb
/obj/Release/netcoreapp3.1
/obj/project.nuget.cache
/obj/project.assets.json
/obj/Debug/netcoreapp3.1/ConsoleApp1.vbprojAssemblyReference.cache
/obj/Debug/netcoreapp3.1/ConsoleApp1.vbproj.FileListAbsolute.txt
/obj/Debug/netcoreapp3.1/ConsoleApp1.vbproj.CoreCompileInputs.cache
/obj/Debug/netcoreapp3.1/ConsoleApp1.pdb
/obj/Debug/netcoreapp3.1/ConsoleApp1.genruntimeconfig.cache
/obj/Debug/netcoreapp3.1/ConsoleApp1.exe
/obj/Debug/netcoreapp3.1/ConsoleApp1.dll
/obj/Debug/netcoreapp3.1/ConsoleApp1.assets.cache
/obj/Debug/netcoreapp3.1/ConsoleApp1.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp3.1/ConsoleApp1.AssemblyInfo.vb
/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.vb
/obj/Debug/netcoreapp3.1
/obj/ConsoleApp1.vbproj.nuget.g.targets
/obj/ConsoleApp1.vbproj.nuget.g.props
/obj/ConsoleApp1.vbproj.nuget.dgspec.json
/obj
/My Project/launchSettings.json
/My Project/app.manifest
/My Project
/bin/Release/netcoreapp3.1/ConsoleApp1.runtimeconfig.json
/bin/Release/netcoreapp3.1/ConsoleApp1.runtimeconfig.dev.json
/bin/Release/netcoreapp3.1/ConsoleApp1.pdb
/bin/Release/netcoreapp3.1/ConsoleApp1.exe
/bin/Release/netcoreapp3.1/ConsoleApp1.dll
/bin/Release/netcoreapp3.1/ConsoleApp1.deps.json
/bin/Release/netcoreapp3.1
/bin/Debug/netcoreapp3.1/ConsoleApp1.runtimeconfig.json
/bin/Debug/netcoreapp3.1/ConsoleApp1.runtimeconfig.dev.json
/bin/Debug/netcoreapp3.1/ConsoleApp1.pdb
/bin/Debug/netcoreapp3.1/ConsoleApp1.exe
/bin/Debug/netcoreapp3.1/ConsoleApp1.dll
/bin/Debug/netcoreapp3.1/ConsoleApp1.deps.json
/bin/Debug/netcoreapp3.1
/bin
/.vs/ConsoleApp1/v16/.suo
/.vs/ConsoleApp1/v16
/.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
/.vs/ConsoleApp1/DesignTimeBuild
/.vs/ConsoleApp1
